* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  body {
    background-color: skyblue;
    background-image: url("https://cdn.ihanwoo.kr/news/photo/201903/460_843_470.jpg");
    /* background-image: url("https://mblogthumb-phinf.pstatic.net/20161018_168/moon150714_1476756044028Q6IrY_JPEG/%BA%B8%B3%EB%BA%B8%B3%EB_ppt_%B9%E8%B0%E6%C8%AD%B8%E9_%B4%D9%BE%E7%C7%CF%B0%D4_%C1%D8%BA%F1%C7%DF%BE%EE_%286%29.jpg?type=w800"); */
    background-size: 100%;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
  }

  .welcome {
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -400%);
  }
  
  .commArea {
    color: white;
    text-align: center;
    font-family: cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -500%);
  }

  .loginForm {
    background-color: #eeeff3ee;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .inputField {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 260px;
  }
  
  .submitButton {
    font-size: 14px;
    /* background-color: #1BBC9B; */
    background-color: #60aac9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: none;
  }